---
---

<footer class="absolute inset-x-0 bottom-5 grid gap-y-2">
  <div class="flex justify-center gap-4">
    <div class="flex gap-1">
      <img src="/images/logo-twitter-32.png" alt="twitter logo" />
      <a href="https://twitter.com/iveteran" target="_blank">@goeworks</a>
    </div>

    <div class="flex gap-1">
      <img src="/images/logo-discord-32.png" alt="discord logo" />
      <a href="https://discordapp.com/users/1184082216825913464" target="_blank">@goeworks</a>
    </div>
  </div>

  <div class="flex justify-center gap-1">
    <img src="/images/logo-matrixworks-32.png" alt="matrixworks logo" />
    <a href="https://matrix.works/" target="_blank">Powered by Matrixworks</a>
  </div>
</footer>

<style>
  footer {
    font-size: 1.2rem;
    @apply text-gray-800;
  }
</style>
